{% extends 'base.html' %}
{% load i18n %}

{% block super-content %}
    <div class="row" style="margin-top: 5%;">
        <div class="small-12 medium-8 large-6 columns small-centered">
            <div class="signup-panel">
                <div class="small-12 text-center">
                    <p class="welcome">{% trans 'Password reset complete' %}</p>
                    {% if user.is_authenticated %}
                        <p>{% blocktrans %}Note: You are already logged in as {{ user }}.{% endblocktrans %}</p>
                    {% endif %}
                    <p>{% trans 'Your password has been set. You may go ahead and log in now.' %}</p>
                </div>
                <div class="medium-12 small-12 text-center">
                    <p>{% trans 'Just follow the link:' %} <a href="{% url 'login' %}">{% trans 'Login here' %} &raquo</a><br></p>
                </div>
            </div>
        </div>
    </div>
{% endblock super-content %}