{% extends "base.html" %}
{% load i18n %}

{% block super-content %}
    <div class="row" style="margin-top: 5%;">
        <div class="small-12 medium-8 large-6 columns small-centered">
            <div class="signup-panel">
                <div class="small-12 block-center">
                    <p class="welcome">{% trans 'Password reset' %}</p>
                </div>
                {% if not validlink %}
                    <p>{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.' %}</p>
                    <div class="medium-7 small-9 block-center">
                        <p>{% trans 'Request new password reset link' %} <a href="{% url 'login' %}">{% trans 'here' %} &raquo</a><br></p>
                    </div>
                {% else %}
                    <p>{% trans 'Almost done. Enter your new password bellow.' %}</p>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row collapse">
                            {{ form.new_password1.errors }}
                            <div class="small-2 columns ">
                              <span class="prefix"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="small-10 columns ">
                              <input type="password" name="new_password1" placeholder="{% trans 'New password' %}" required>
                            </div>
                        </div>
                        <div class="row collapse">
                            {{ form.new_password2.errors }}
                            <div class="small-2 columns ">
                              <span class="prefix"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="small-10 columns ">
                              <input type="password" name="new_password2" placeholder="{% trans 'Confirm password' %}" required>
                            </div>
                        </div>
                        <div class="small-12 block-center">
                            <button class="button radius block-center" type="submit">{% trans 'Change my password' %}</button>
                        </div>
                    </form>
                    <div class="medium-7 small-9 block-center">
                        <p>{% trans 'Already know your password?' %}<a href="{% url 'login' %}">{% trans 'Login here' %} &raquo</a><br></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock super-content %}
