{% extends 'base.html' %}
{% load i18n %}

{% block super-content %}
    <div class="row" style="margin-top: 5%;">
        <div class="small-12 medium-8 large-6 columns small-centered">
            <div class="signup-panel">
                <div class="small-12 text-center">
                    <p class="welcome">{% trans 'Password reset' %}</p>
                    {% if user.is_authenticated %}
                        <p>{% blocktrans %}Note: You are already logged in as {{ user }}.{% endblocktrans %}</p>
                    {% endif %}
                    <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                </div>
                <div class="medium-7 small-9 block-center">
                    <p>{% trans 'Already know your password?' %} <a href="{% url 'login' %}">{% trans 'Login here' %} &raquo</a><br></p>
                </div>
            </div>
        </div>
    </div>
{% endblock super-content %}